.main-header {
  background-image: url(../../images/0-header.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $accent-gray;
    opacity: 0.92;
  }
}

.main-header__content {
  z-index: 1;
  color: #ffffff;
  text-align: center;
  padding: 60px $gutter;

  h1 {
    font-size: 60px;
    font-family: 'intro-grid', sans-serif;
    font-weight: normal;
    margin: 20px 0;
    line-height: 1.5;
  }
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $orange;
  padding: 10px 60px;
  font-family: 'raleway-grid', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  margin: 10px;

  &::after {
    transition: background-color 0.2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: darken($orange, 50%);
    opacity: 0.18;
    border-bottom-left-radius: 2px;
    left: 0;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    background-color: lighten($orange, 5%);

    &::after {
      opacity: 0.22;
    }
  }

  &:active {
    background-color: darken($orange, 5%);

    &::after {
      opacity: 0.32;
    }
  }

  &.button-gray {
    background-color: $gray;

    &::after {
      background-color: darken($gray, 15%);
    }

    &:hover {
      background-color: lighten($gray, 5%);

      &::after {
        opacity: 0.22;
      }
    }

    &:active {
      background-color: darken($gray, 5%);

      &::after {
        opacity: 0.32;
      }
    }
  }
}
